.Rproj.user
.Rhistory
.RData
.Ruserdata
BACKUP/DTMRBACKUP0206262325edges.csv

/.quarto/
**/*.quarto_ipynb
.cache/
vignettes/renv/library/

# Package Build and Test Artifacts
.*Rcheck/
*.Rcheck/
.cache/
.deno/
Rplots.pdf
test_*.csv
*.rds
